.mainDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.canvas {
    flex: 1;
    background-color: #282c34;
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1; /* Ensure the arrows are on top of the canvas */
}

.frameNumber {
    width: 70%;
    color: white;
}

.RotationValues {
    position: absolute;
    top: 10px;
    left: 10px;
}

.RotationValues p {
    margin: 0;
    padding: 0;
    color: white;
}

.graphButtons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.graphButtons button {
    margin: 5px 0;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: red;
    border: 1px solid red;
}

.active {
    color: green !important;
    border: 1px solid green !important;
}

.WebsocketConnection {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
}

.WebsocketConnection button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: red;
    border: 1px solid red;
}

.WebsocketConnection button:hover {
    color: rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

.WebsocketConnection p {
    margin: 0;
    padding: 0;
    color: red;
}

.WSConnected {
    color: green !important;
}

.ModelSelector {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    background: none;
}

.ModelSelector button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    color: red;
    border: 1px solid red;
}

.ModelSelector button:hover {
    color: rgba(255, 0, 0, 0.5);
    border: 1px solid rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

