.mainDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.canvas {
    flex: 1;
    background-color: #282c34;
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1; /* Ensure the arrows are on top of the canvas */
}

.controls {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.timeline {
    display: flex;
    align-items: center;
    width: 70%;
}

.playButton {
    margin: 0 10px;
    padding: 10px 50px 10px 50px;
}

input {
    flex: 1;
}

.frameNumber {
    width: 70%;
    color: white;
}
