.graph-popup {
    position: absolute;
    padding: 10px 20px 10px 0;
    background-color: rgba(75, 75, 75, 0.5);
    z-index: 1000; /* Ensure it appears above other elements */
    border-radius: 20px;
}

/*
.close-button {
    position: absolute;
    top: 0;
    left: 10px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    z-index: 1100;
}
*/

.graph-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    z-index: 1000;
    color: white;
}